@model IEnumerable<EstrelaDaMorte.Models.Piloto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Pilotos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPlaneta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlaneta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPiloto">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPiloto">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPiloto">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
