@model EstrelaDaMorte.Models.HistoricoViagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistoricoViagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNave)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNave)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPiloto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPiloto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtSaida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtSaida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtChegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtChegada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
